<p id="notice"><%= notice %></p>

<h1>Memberships</h1>


<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>PAYMENT</th>
      <th colspan="10"></th>
    </tr>
  </thead>

  <tbody>
    <% @memberships.each do |membership| %>
      <tr>
        <td><%= membership.name %></td>
        <td> $<%= membership.price / 10%></td>
        <td><%= button_to "Buy now!", checkout_create_path, params: {id: membership.id}, remote: true %></td>
        <td><%= link_to 'Show', membership %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
