<h1>Station Map</h1>
  <div class="map-box">
    <%# Sets map div %>
    <div id="map"></div>
    <%# Have to call js file with all leaflet functions after html div %>
    <%= javascript_include_tag('leaflet.js') %>

    <script type="text/javascript">

      <% Station.all.each do |s| %>
        <% puts "The current array item is: #{s}" %>
        // var marker = L.marker([42.33, -72.63]).addTo(map);
        console.log(map)
        // Adds the station markers to the map by using the lat and long in the database
        var marker = L.marker(<%= raw [s.latitude, s.longitude]%>).addTo(map);
        // Adds the popup for the marker with the station name, address, and dock number
        marker.bindPopup("Station Name: " + <%= raw [s.name] %> + "<br>Address: " + <%= raw [s.address] %> + "<br>Total Docks: " + <%= raw [s.total_docks] %> + "<br>Available Bikes: ").openPopup();
      <% end %>
    </script>
  </div>
